.mont-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  background-color: #000000;
  width: 340px;
  border-radius: 1rem;
}

.nav {
  background-color: #121212;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem;
  margin: 7px 7px;
}

.nav-option {
  line-height: 2.5rem;
  opacity: 70%;
  padding: 0.5rem 0.75rem;
}

.nav-option:hover {
  opacity: 100%;
}

.home {
  opacity: 100%;
}

.nav-option {
  font-size: 1.25rem;
}

.sidebar a {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
}

/* Library */

.library {
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: #121212;
  border-radius: 0.5rem;
  margin: 7px 7px;
  padding: 0.8rem 0.75rem;
}

/* main content */
.main-content {
  background-color: #121212;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
}

/* music player */
.music-player {
  background-color: black;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 72px;
}
