.mont-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  background-color: #000000;
  width: 340px;
  border-radius: 1rem;
}

.nav {
  background-color: #121212;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem;
  margin: 7px 7px;
}

.nav-option {
  line-height: 2.5rem;
  opacity: 70%;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
}

.nav-option:hover {
  opacity: 100%;
}

.home {
  opacity: 100%;
}

.sidebar a {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
}

/* Library */

.library {
  background-color: #121212;
  border-radius: 0.5rem;
  margin: 7px 7px;
  padding: 0.8rem 0.75rem;
  height: 100%;
}

.option {
  display: flex;
  justify-content: space-between;
}

.lib-option,
.icon {
  opacity: 0.7;
}

.lib-option:hover,
.icon:hover {
  opacity: 1;
}

.icon i {
  margin-left: 1rem;
}

/* Box design */
.box1 {
  background-color: #3b3b3b;
  margin-top: 3rem;
  height: 8rem;
  border-radius: 0.75rem;
  padding-top: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.box1 h2{
  font-size: 1rem;
}
.box1 p{
  font-size: 0.8rem;
  font-weight: 500;
}

.bt1{
  background-color: white;
  border: none;
  border-radius: 1rem;
  width: 8rem;
  height: 2rem;
  font-family: Montserrat;
  font-weight: 700;
  margin-top: 0.5rem;
}

.bt1:hover{
  opacity: 0.8;
}

.box2 {
  background-color: #3b3b3b;
  margin-top: 3rem;
  height: 9rem;
  border-radius: 0.75rem;
  padding-top: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.box2 h2{
  font-size: 1rem;
}
.box2 p{
  font-size: 0.8rem;
  font-weight: 500;
}

.bt2{
  background-color: white;
  border: none;
  border-radius: 1rem;
  width: 9rem;
  height: 2rem;
  font-family: Montserrat;
  font-weight: 700;
  margin-top: 0.3rem;
  
}

.bt2:hover{
  opacity: 0.8;
}

/* main content */
.main-content {
  background-color: #121212;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;

}

.sticky{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 2rem;
  position: sticky;
  top: 0;
  background-color: #121212;

}

.left i{
  margin-right: 1.5rem;

}

.right .exp, .ins, .us{
  margin-left: 1.25rem;
}

.ins{
  background-color: #121212;
  color: white;
  font-size: 1rem;
}

.us:hover{
  opacity: 0.5;
}

.exp{
  width: 10rem;
}

/* music player */
.music-player {
  background-color: black;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 72px;
}
